<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let movie of movies">
      <div class="card h-50">
        <div class="image-container">
          <img [src]="movie.imageUrl" class="card-img-top movie-image" [alt]="movie.title">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text flex-grow-1">{{movie.description}}</p>
          <a href="#" class="btn btn-primary mt-auto book-now-btn">Book Now</a> <!--Later onlick it will invoke a function to send data to booking-->
        </div>
      </div>
    </div>
  </div>
</div>